/classes/
/.classpath
/.project
/lib/
/logs/
*.jar
*.class
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.xdy
*.ist
*synctex*
*.pl*
*.mw
/.externalToolBuilders/
/.settings/
/.README.md.html
/.texlipse
/data/
/java_pid5048.hprof
/AST.txt
/.idea/.gitignore
/.idea/ClojureProjectResolveSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/dictionaries/jam.xml
/.idea/inspectionProfiles/Project_Default.xml
